<html>
<head th:replace="~{base :: head}"> </head>
<body>
	<div th:replace="~{base :: logo}"></div>

	<div class="container">
		<div th:replace="~{base :: titulo('Meus Pedidos')}"></div>
		<nav class="navbar navbar-expand navbar-light d-flex justify-content-between mb-3" style="background-color: #dcdcdc;">
		    <div class="navbar-nav">
				<a th:classappend="${status} == null ? 'active' " class="nav-item nav-link" th:href="@{/usuario/pedidos}">Todos</a>
				<a th:classappend="${status} == 'aguardando' ? 'active' " class="nav-item nav-link" th:href="@{/usuario/pedidos/aguardando}">Aguardando</a>
				<a th:classappend="${status} == 'aprovado' ? 'active' "  class="nav-item nav-link"  th:href="@{/usuario/pedidos/aprovado}">Aprovado</a>
				<a th:classappend="${status} == 'entregue' ? 'active' "  class="nav-item nav-link"  th:href="@{/usuario/pedidos/entregue}">Entregue</a>
			</div>
			<a href="/pedido/formulario"><button class="btn btn-outline-secondary my-1 my-sm-0">Novo</button></a>
		</nav>
		<div class="card mt-3" th:each="pedido: ${pedidos}">
			<th:block th:switch="${pedido.status.name()}">
				<div th:case="AGUARDANDO" class="card-header" th:text="${pedido.nomeProduto}" style="background-color: #ffdb58;">Nome do produto</div>
		        <div th:case="APROVADO" class="card-header" th:text="${pedido.nomeProduto}" style="background-color: #6eaa5e;">Nome do produto</div>	
			    <div th:case="ENTREGUE" class="card-header" th:text="${pedido.nomeProduto}" style="background-color: #8a8a8a;">Nome do produto</div>
			</th:block>
			<div class="cad-body">	
					<div class="row">
						<div class="col-12 col-sm-8  mb-3">
							<div class="row">
								<div class="col-md-5">Valor: <span th:if="${pedido.valorNegociado} != null" th:text="${'R$' + #numbers.formatDecimal(pedido.valorNegociado, 3, 'POINT', 2 ,'COMMA')}">200,99</span></div>								
								<div class="col-md-7c">Data da entrega: <span th:text="${#temporals.format(pedido.dataDaEntrega, 'dd/MM/yyyy')}">10/02/2020</span></div>
							</div>
					
							<div>Produto</div>
							<div>
								<input class= "form-control" th:value="${pedido.urlProduto}" value="url do produto" />
							</div>
	
							<div>Descrição</div>					
							<div>
								<textarea class= "form-control"  th:text="${pedido.descricao}">descrição do pedido</textarea>
							</div>
						</div>

					    <div class="col-12 col-sm-4">
							<div>
								<img class="img-thumbnail" th:src="${pedido.urlImagem}" src="" />
							</div>
						</div>				
			 	 </div>
			</div>	
		</div>
	</div>

</body>

</html>